@model SiteMVC.DTO.HomeCriaDTO
@{
    ViewData["Title"] = "Create";
}

<form enctype="multipart/form-data" method="Post" asp-action="Create">
    <div class="form-group row">
        <div class="col-sm-4">
            <div class="row">
                <label asp-for="Foto" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="border mb-1 d-flex flex-column" style="height: 230px;">
                        <div class="container text-center my-auto">Image</div>
                        <img asp-append-version="true" id="img-preview" src="#" style="height: 230px;" hidden />
                    </div>
                    <div class="custom-file">
                        <input asp-for="Foto" class="form-control custom-file-input" />
                        <label class="custom-file-label">Escolha o arquivo...</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                               <label asp-for="ReceitaModel.ReceitaInfoModel.Rende" ></label>
                <input asp-for="ReceitaModel.ReceitaInfoModel.Rende" placeholder="10 de porções" />
                </div>
                <div class="row mt-2">
                    <span asp-validation-for="ReceitaModel.ReceitaInfoModel.TempCozinhamento" class="text-danger"></span>
                    <label asp-for="ReceitaModel.ReceitaInfoModel.TempCozinhamento"  ></label>
                    <input asp-for="ReceitaModel.ReceitaInfoModel.TempCozinhamento" placeholder="2 minutos" />
                </div>
                <div class="row mt-2">
                     <span asp-validation-for="ReceitaModel.ReceitaInfoModel.TempoPrep" class="text-danger"></span>                   
                    <label asp-for="ReceitaModel.ReceitaInfoModel.TempoPrep" ></label>
                    <input asp-for="ReceitaModel.ReceitaInfoModel.TempoPrep" placeholder="2 minutos" />
                </div>
                <div class="row mt-2">
                     <span asp-validation-for="ReceitaModel.ReceitaInfoModel.ServePessoa" class="text-danger"></span>                   
                    <label asp-for="ReceitaModel.ReceitaInfoModel.ServePessoa"></label>
                    <input asp-for="ReceitaModel.ReceitaInfoModel.ServePessoa" placeholder="2 " />
                </div>
                    <div class="row mt-2">
                    <label asp-for="ReceitaModel.TipoDeReceita"></label>
                    <select asp-for="ReceitaModel.TipoDeReceita" asp-items='Html.GetEnumSelectList<Enums.TipoDeReceita>()
                        .Where(x => x.Value != "0")' ></select>
                </div>

                <div>
            </div>
        </div>
            <div class="col-sm-8">
                <div class="form-group row">
                    <span asp-validation-for="ReceitaModel.NomeReceita" class="text-danger"></span>
                    <label asp-for="ReceitaModel.NomeReceita" class="col-sm-2 col-form-label"></label>
                    <input asp-for="ReceitaModel.NomeReceita" class="form-control col-sm-10" />
                </div>
                <div class="form-group row" style="height: 88%">
                    <span asp-validation-for="ReceitaModel.ReceitaDescricao" class="text-danger"></span>
                    <label asp-for="ReceitaModel.ReceitaDescricao" class="col-sm-2 col-form-label"></label>
                    <textarea asp-for="ReceitaModel.ReceitaDescricao" class="form-control col-sm-10"></textarea>
    
                </div>
            </div>
        </div>
        <div class="border mb-3">
            <h4 class="pl-2">Ingredientes</h4>
        <button id="addIngredientButton" type="button" class="btn btn-sm btn-outline-dark border-black-3 mt-1 ml-2">Add</button>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 10%;">Quantidade</th>
                    <th scope="col" style="width: 10%;">Unidade</th>
                    <th scope="col" style="width: 80%;">Ingrediente</th>
                </tr>
            </thead>
            <tbody id="ingredienteTBody"></tbody>
        </table>
    </div>
    <div class="border">
        <h4 class="pl-2">Intruções</h4>
        <button id="addIntrucaoButton" type="button" class="btn btn-sm btn-outline-dark border-black-3 mt-1 ml-2">Add</button>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 10%;">Passo</th>
                    <th scope="col" style="width: 90%;">Instrução</th>
                </tr>
            </thead>
            <tbody id="InstrucaoTBody"></tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-dark border-black-3 mt-1">Enviar</button>
    <a asp-action="Index" class="btn btn-sm btn-outline-dark border-black-3 mt-1">Voltar</a>
</form>

@section Scripts{
    @{ // Client side validation.
        <partial name="_ValidationScriptsPartial" /> 
    }
    
    <script>
        $(document).ready(function () {
            var index = 0;
            var count = 0;
            $("#addIngredientButton").click(function () {
                $("#ingredienteTBody")
                    .append('<tr><td><input type="text" name="ReceitaIngredienteModels[' + index + '].QuantidadeIngrendiente" /></td>'
                        + '<td><input type="text" name="ReceitaIngredienteModels[' + index + '].IngredienteUnidade" /></td>'
                        + '<td><input type="text" name="IngredienteModels[' + index + '].Ingrediente" /></td>'
                        + '<td><button type="button" class="btn btn-danger">Delete</button></td></tr');
                index++;
            });
            $("#ingredienteTBody").on("click", ".btn", function () {
                $(this).closest("tr").remove();
                count = 0;
                index--;
                $("#ingredienteTBody > tr").each(function () {
                    $(this).find("input").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\[\d+\]/, "[" + count + "]"));
                    });
                    count++;
                });
            });
        });
        $(document).ready(function () {
            var index = 0;
            var step = 1;
            $("#addIntrucaoButton").click(function () {
                $("#InstrucaoTBody")
                    .append('<tr><td style="text-align: center"><strong>' + step + '</strong></td>'
                        + '<td><input type="text" name="InstructionModels[' + index + '].Instrução" /></td>'
                        + '<td><button type="button" class="btn btn-danger">Delete</button></td></tr');
                index++;
                step++;
            });
            $("#InstrucaoTBody").on("click", ".btn", function () {
                $(this).closest("tr").remove();
                count = 0;
                step = 1;
                index--;
                $("#InstrucaoTBody > tr").each(function () {
                    $(this).find("input").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\[\d+\]/, "[" + count + "]"));
                    });
                    $(this).find("td:first-child").each(function () {
                        $(this).html("<strong>" + step + "</strong>");
                    });
                    count++;
                    step++;
                });
            });
        });
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next(".custom-file-label").html(fileName);
                $("#img-preview").siblings()[0].hidden = true;
                $("#img-preview").attr('src', URL.createObjectURL(event.target.files[0])).removeAttr("hidden");
            });
        });
    </script>   
}